html {
  width: auto; }

body {
  margin: 5px 0 0 0;
  width: auto;
  min-width: 175px;
  font: 100% Arial, sans-serif;
  background-color: #cacaca;
  overflow-x: hidden; }

footer, header {
  width: 100%;
  color: #fff;
  background-color: #5682a3;
  padding: 10px 15px;
  min-width: 387px; }

footer a, header a {
  text-decoration: none; }

header {
  margin-top: -5px;
  position: relative; }

footer {
  flex: 0 0 auto;
  margin-top: 5px; }

header a {
  margin-left: 15px;
  color: #fff;
  font-family: Krona One;
  font-size: 36px; }

footer a {
  text-decoration: underline;
  color: #4F677A;
  background-color: #fff; }

footer .f-mail:hover {
  color: #fff;
  background-color: #4F677A; }

footer img {
  width: 30px;
  height: 30px;
  background-color: transparent; }

footer img:hover {
  width: 40px;
  height: 40px; }

.cart {
  margin-right: 60px;
  float: right; }

.cart img {
  background-color: transparent;
  width: 60px;
  height: 52px; }

.dd {
  margin-right: 0px;
  margin-top: 15px;
  float: right; }

.dd-active {
  margin-right: 260px; }

#dropdown {
  display: none;
  position: absolute;
  background-color: #fff;
  color: #000;
  width: 18.5rem;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 101; }

.drop {
  -webkit-animation: move 1s;
  animation: move 0.5s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  display: block !important; }

.drop button {
  margin-left: 0px; }

@-webkit-keyframes move {
  from {
    transform: translateX(0); }
  50% {
    transform: translateY(50px); }
  to {
    transform: translateY(0); } }

@keyframes move {
  from {
    transform: translatY(0); }
  50% {
    transform: translateY(50px); }
  to {
    transform: translateY(0); } }

.cart-item {
  margin: 8px 0 0 0;
  display: inline-block; }

.cart-item p {
  font-size: 12.5px; }

.cross {
  float: left;
  margin-bottom: 8px;
  width: 25px;
  height: 25px;
  cursor: pointer; }

.good {
  margin: 4px 0 0 25px;
  position: relative;
  float: left;
  min-width: 125px;
  max-width: 125px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  max-height: 15px;
  overflow: hidden; }

.quantity {
  margin: auto 0 auto 40px;
  float: right; }

.quantity p {
  border: 1px dashed #000;
  margin: 0 5px;
  padding: 2px 2px 1px 2px;
  float: left; }

.quantity img {
  float: left;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.main-content {
  z-index: 50;
  min-width: 387px;
  width: 100%;
  display: table-row; }

.categories, .goods {
  display: block;
  margin: 20px 15% 10px 15%;
  background-color: #fff;
  box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05), 0 1px 4px 0 rgba(51, 51, 51, 0.15);
  border-radius: 0 0 2px 2px; }

.categories-head, .goods-head, .categories-items {
  margin-left: 18px;
  margin-right: 18px; }

.categories-head, .goods-head {
  font-size: 25px; }

.categories-items, .goods-items {
  margin: 5px 18px; }

.goods-items {
  display: inline; }

.categories {
  max-width: 400px;
  width: auto; }

.categories-head {
  text-transform: uppercase;
  padding: 5px;
  text-align: center;
  border-radius: 7px;
  margin-top: 10px;
  background-color: #4F677A;
  color: #fff; }

.categories-items ul {
  padding-left: 0; }

.load {
  padding: 2.5px 2.5px 2.5px 10px;
  margin-top: 5px;
  list-style: none;
  font-size: 20px;
  cursor: pointer; }

.highlight {
  border: 2px solid #4F677A;
  border-radius: 7px; }

#goods {
  height: 100%;
  width: 100%; }

.goods {
  width: auto;
  max-width: 75%; }

.goods-head {
  text-align: left;
  margin-top: 5px;
  padding: 3.5px 46% 5px 7px;
  color: #4F677A;
  border-bottom: 1px dotted #4F677A; }

div.goods-grid {
  margin: 10px 3%; }

.goods-grid {
  height: 454.200px;
  width: 250px;
  padding-bottom: 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 27px;
  float: left;
  text-align: center;
  overflow: hidden; }

.goods-img {
  line-height: 250px;
  vertical-align: middle;
  margin: 10px;
  height: 290px; }

.goods-img img {
  vertical-align: middle;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

.goods-text {
  margin-right: 10px;
  margin-left: 10px; }

p.getDescription {
  color: #5682a3;
  cursor: pointer; }

p.getDescription:hover {
  color: #000; }

.goods-text p {
  max-height: 19px;
  white-space: pre-wrap;
  overflow: hidden; }

.sales {
  color: gray;
  text-decoration: line-through;
  text-decoration-color: #fb515d; }

.price, .reg-price {
  padding: 3px 0;
  border: 1.5px dashed #4F677A; }

.price {
  background-color: whitesmoke;
  color: #fb515d;
  margin: 16px 10px; }

.reg-price {
  background-color: whitesmoke;
  margin: 32px 10px;
  color: #000; }

.my-button {
  border-width: 2px;
  color: #4F677A;
  border: 3px solid #4F677A;
  min-width: 6rem;
  border-radius: 0.5rem;
  font-size: 0.8em;
  min-height: 2rem;
  width: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
  font-weight: 600;
  line-height: 1; }

.my-button:hover {
  color: #fff;
  background-color: #4F677A; }

@media screen and (min-width: 1000px) {
  .dd {
    margin-top: 50px; }
  header {
    min-width: 387px;
    position: fixed;
    z-index: 100;
    margin-top: -5px; }
  header a {
    margin-left: 0; }
  .categories, .goods {
    float: left;
    background-color: #fff;
    box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.05), 0 1px 4px 0 rgba(51, 51, 51, 0.15);
    border-radius: 0 0 2px 2px; }
  .categories {
    width: 18rem;
    margin: 80px 10px 10px 10px; }
  .categories-head {
    margin-top: 5.5px; }
  .goods {
    margin: 80px auto 10px auto;
    position: relative; }
  .goods-items {
    margin: 0 auto; } }

@media screen and (min-width: 554px) {
  .dd {
    margin-top: 50px; } }

.back-dialog {
  width: auto;
  min-height: 100%;
  position: fixed;
  top: 100px;
  z-index: 99;
  margin: 0 20%; }

.dialog-inner {
  position: relative;
  overflow-y: auto;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 10px;
  background-color: #fff; }

.dialog-content {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 400px;
  padding: 15px 30px; }

.dialog-content img {
  min-width: 30%;
  min-height: 40%;
  max-width: 60%;
  max-height: 70%; }

.dialog-title {
  margin: 0 auto;
  text-align: center;
  position: relative;
  vertical-align: middle;
  height: 30px;
  max-width: 1200px;
  background-color: #3498DB;
  color: #fff; }

.close-dialog {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  color: #fff;
  background-color: #5682a3;
  height: 30px;
  width: 30px;
  border: 0;
  text-decoration: none;
  cursor: pointer; }

.close-dialog:before {
  font-family: Arial;
  color: rgba(255, 255, 255, 0.9);
  content: "x";
  font-size: 20px;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  outline: none; }

.dialog-item-info {
  float: left; }

.dialog-content h3 {
  font-family: Helvetica,sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  border-bottom: 2px solid #3498DB; }

.dialog-right {
  min-width: 220px;
  max-width: 700px;
  margin-left: 2.5%;
  float: left; }

.dialog-content .my-button {
  margin: 10px 0 0 0; }

.dialog-price {
  max-width: 200px;
  border: 2px solid #000;
  border-radius: 5px; }

.dialog-price .reg-price {
  margin: 10px; }

.dialog-price .sales {
  margin: 10px; }

.my-order {
  border: 2px solid #5682a3;
  width: auto;
  padding: 0 10px; }

.my-order p {
  overflow: hidden; }

.fullprice {
  background-color: #5682a3;
  color: #fff;
  padding: 5px;
  border-radius: 7px; }

.blur {
  filter: blur(4px) contrast(0.5) brightness(0.9);
  position: fixed; }

.fix {
  display: none; }

